
/* IMPUT*/

   

.label{
    text-align: center;
}


#worldMap{
    width: 100%;
    height: auto;
    margin-top: 100px;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:#3973ad;

}

#point-container {
    align-items: normal;
}